body {
	height: 100vw;
	width: 100vh;
	margin: 0;
	background-color: grey
}

h1 {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	text-align: center;
	color: grey
}

a {
	color: cornflowerblue;
	font-family: helvetica;
	text-decoration: none
}

a:hover {
	text-decoration: underline;
}

#chat {
	margin-left: 12.5%;
}

#board {
	margin-left: 12.5%;
}

#in_chat {
	background-color: grey;
}